venv/
env/
ENV/

__pycache__/
*.py[cod]
*$py.class
*.so
.Python

dist/
build/
*.egg-info/

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

.ipynb_checkpoints

.env

.idea/
.vscode/
*.swp
*.swo
